.header-container{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    padding: 5px ;
}
.logo{
    width: 300px
}

.nav-items{
    display: flex;
    align-items: center;
    list-style-type:none;
}